<div class="nav-settings">
    <div class="ui buttons">
        <div class="ui floating dropdown button">
            <i class="icon bars"></i>
            <div class="menu">
                <% if (user) { %>
                    <a class="item" href="/posts?author=<%= user._id %>">Main Page</a>
                    <div class="divider"></div>
                    <a class="item" href="/posts/create">New Post</a>
                    <a class="item" href="/signout">Log Out</a>
                <% } else { %>
                    <a class="item" href="/signin">Sign In</a>
                    <a class="item" href="/signup">Sign Up</a>
                <% } %>
            </div>
        </div>
    </div>
</div>